:root {
    --color-settings-about-text: #2a2f52;
    --color-settings-about-bg: #fff;
    --colot-about-border: #dee2e6;
}

.dark {
    --color-settings-about-text: #d4d9ff;
    --color-settings-about-bg: #35395b;
    --colot-about-border: rgb(63, 68, 99);
}