:root {
    --color-info-name: #2a2f52;
    --color-info-date: #617fab;
    --color-border-bottom: #dee2e6;
}

.dark {
    --color-info-name: #d4d9ff;
    --color-info-date: #959ccb;
    --color-border-bottom: #3f4463;
}