:root {
    --chat-msg-friend-bg: #f8f9fa;
    --chat-msg-text: #2a2f52;
    --chat-msg-my-bg: #4fc9c926;
    --hello-gif-color: #2a2f52;
}

.dark {
    --chat-msg-friend-bg: #313658;
    --chat-msg-text: #d4d9ff;
    --chat-msg-my-bg: #4fc9c999;
    --hello-gif-color: #d4d9ff;
}