:root {
    --choose-contact-card-bg: #fff;
    --choose-contact-card-text: #2a2f52;
    --choose-contant-btn-bg: #fff;
}

.dark {
    --choose-contact-card-bg: #35395b;
    --choose-contact-card-text: #d4d9ff;
    --choose-contant-btn-bg: transparent;
}