:root {
    --color--edit-card-content-text: #2a2f52;
    --color-edit-card-input-border: #dee2e6;
    --color-edit-card-input-bg: #fff;
    --color-edit-card-textarea-bg: #fff;
    --color-edit-card-input-text: #2a2f52;
    --color-edit-card-textarea-text: #2a2f52;
    --color-edit-card-textarea-border: #dee2e6;
}

.dark {
    --color--edit-card-content-text: #d4d9ff;
    --color-edit-card-input-border: #3f4463;
    --color-edit-card-input-bg: #2a2f52;
    --color-edit-card-textarea-bg: #2a2f52;
    --color-edit-card-input-text: #d4d9ff;
    --color-edit-card-textarea-text: #d4d9ff;
    --color-edit-card-textarea-border: #3f4463;
}