:root {
    --color-files-main-border: #00000033;
    --color-file-name: #2a2f52;
    --color-file-siza: #617fab;
}

.dark {
    --color-files-main-border: #3f4463;
    --color-file-name: #d4d9ff;
    --color-file-siza: #959ccb;
}