:root {
    --color-group-name: #2a2f52;
    --color-group-count: #e15e6e;
    --color-count-bg: #ffcdd3;
    --color-item-border: #dee2e6;
}

.dark {
    --color-group-name: #d4d9ff;
    --color-group-count: #e15e6e;
    --color-count-bg: rgb(225, 94, 110, 0.2);
    --color-item-border: rgb(63, 68, 99);
}