:root {
    --color-help-card-bg: #fff;
    --color-help-card-border: #dee2e6;
    --color-help-card-text: #2a2f52;
}

.dark {
    --color-help-card-bg: #35395b;
    --color-help-card-border: rgb(63, 68, 99);
    --color-help-card-text: #d4d9ff;
}