:root {
    --color-section-main-title: #2a2f52;
    --color-header-status: #617fab;
    --color-img-border: #dee2e6;
    --color-camera-bg: rgb(209, 209, 209);
}

.dark {
    --color-section-main-title: #d4d9ff;
    --color-header-status: #959ccb;
    --color-img-border: #4fc9c91a;
    --color-camera-bg: #262a42;
}