:root {
    --color-profile-bio: #617fab;
    --color-profile-title: #2a2f52;
    --color-profile-label: #617fab;
}

.dark {
    --color-profile-bio: #959ccb;
    --color-profile-title: #d4d9ff;
    --color-profile-label: #959ccb;
}