:root {
    --color-placeholder: #617fab;
    --color-input-bg: #f8f9fa;
    --color-input-text: black;
    --color-input-icon-bg: #f8f9fa;
}

.dark {
    --color-placeholder: #959ccb;
    --color-input-bg: #313658;
    --color-input-text: #d4d9ff;
    --color-input-icon-bg: #313658;
}