:root {
    --info-panel-card-bg: #fff;
    --info-panel-card-text: #2a2f52;
    --info-panel-input-border: #dee2e6;
    --info-panel-btn-bg: #e9ecef80;
}

.dark {
    --info-panel-card-bg: #35395b;
    --info-panel-card-text: #d4d9ff;
    --info-panel-input-border: #3f4463;
    --info-panel-btn-bg: #313658;
}