.about-wrapper {
    width: 100%;
    border: 1px solid var(--colot-about-border);
    background: var(--color-settings-about-bg);

    &::-webkit-scrollbar {
        display: none;
    }

    .about-item {
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 24px;

        .item-title {
            font-size: 16px;
            color: var(--color-settings-about-text);
            margin-bottom: 16px;
        }

        .item-bio {
            display: flex;
            flex-direction: column;

            .bio-title {
                color: var(--color-settings-about-text);
            }

            p {
                color: var(--color-settings-about-text);
                font-size: 14px;
                line-height: 24px;
            }
        }

    }

    .user-infos {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .user-info-content {
            display: flex;
            flex-direction: row;
            gap: 12px;


            span {
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            h5 {
                font-size: 14px;
                font-weight: 600;
                color: var(--color-settings-about-text);
            }

            span {
                font-size: 14px;
                color: var(--color-settings-about-text);
            }
        }
    }

    .info-edit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;
        width: 100%;
        cursor: pointer;

        span {
            color: var(--color-settings-about-text);
        }
    }
}