.chat-window-input {
    width: 100%;
    border-top: 1px solid var(--color-chat-input-top-border);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-chat-input-bg);

    .input-action-buttons {
        display: flex;
        align-items: center;
        gap: 12px;

        .send-file {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 32px;
            height: 32px;
            overflow: hidden;

            input {
                position: absolute;
                cursor: pointer;
                opacity: 0;
                height: 30px;
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background: var(--color-chat-input-gb);
            border: 1px solid #4fc9c9;
            border-radius: 8px;

        }
    }

    .input-section {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 12px;

        input {
            width: 95%;
            height: 50px;
            padding: 10px 20px;
            border: 1px solid var(--chat-input-border);
            background: var(--chat-input-bg);
            font-size: 14px;
            color: var(--chat-input-color);
            border-radius: 8px 0px 0px 8px;
            transition: border 0.2s ease;

            &::placeholder {
                color: #617fab;
                font-size: 14px;
            }

            &:focus {
                border: 1px solid #4fc9c9;
            }
        }

        .send-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            background: #4fc9c9;
            width: 60px;
            height: 50px;
            border-radius: 0px 8px 8px 0px;
            cursor: pointer;
        }
    }
}