.mode-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background: #2a2f52;
    position: fixed;
    right: 0;
    top: 40%;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    z-index: 11000w;
}