.privacy-card-wrapper {
    width: 100%;
    border: 1px solid var(--color-privacy-border);
    color: var(--color-privacy-text);
    background: var(--color-privacy-bg);

    .privacy-settings {
        display: flex;
        flex-direction: column;

        .setting-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-privacy-border);
            padding-bottom: 16px;
            margin-bottom: 16px;
            width: 100%;

            label {
                font-weight: 600;
                font-size: 14px;
            }

            select {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 8px 24px 8px 16px;
                border-radius: 4px;
                background: #4fc9c91a;
                -webkit-appearance: none;
                appearance: none;
                background-image: var(--color-privacy-select-icon);
                background-repeat: no-repeat;
                background-position: right 8px top 50%;
                background-size: 12px;
                font-size: 12px;
                color: var(--color-privacy-select);
            }
        }

        .setting-row:last-child {
            padding: 0;
            margin: 0;
            border-bottom: none;
        }
    }
}