.search {
    max-width: 90%;
    min-width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 16px;

    input {
        width: 100%;
        background: var(--color-input-bg);
        height: 44px;
        padding-right: 56px;
        padding-left: 20px;
        color: var(--color-input-text);

        &::placeholder {
            font-size: 14px;
            color: var(--color-placeholder);
        }
    }

    .icon-search {
        position: absolute;
        right: 50px;
        height: 44px;
        width: 56px;
        background: var(--color-input-icon-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 8px 8px 0;
        top: 0;
        right: 0;
    }
}