:root {
    --color-header-title: #2a2f52;
    --color-header-bg: #ffffff;
    --color-header-icon-bg: #e9ecef;
    --color-page-chats: #ffffff;
}

.dark {
    --color-header-title: #d4d9ff;
    --color-header-bg: #35395b;
    --color-header-icon-bg: #313658;
    --color-page-chats: #35395b;
}