.page-contacts {
    max-width: 349px;
    min-width: 349px;
    border-right: 1px solid rgb(204, 204, 204);
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    box-sizing: border-box;
    height: 100vh;
    background: var(--color-page-chats);

    @include devices(md) {
        max-width: 100%;
        min-width: 100%;
    }
    
    .page-contacts-main {
        max-width: 100%;
        min-width: 100%;
        height: 100%;

        .page-contacts-header {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--color-header-bg);
            height: 78px;

            span {
                font-weight: 600;
                font-size: 18px;
                color: var(--color-header-title);
            }

            .page-contacts-header-add {
                background: var(--color-header-icon-bg);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }

        .page-contacts-list {
            height: calc(100% - 78px);
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}