.page-profile {
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    background: var(--color-groups-bg);
    border-right: 1px solid rgb(204, 204, 204);

    &::-webkit-scrollbar {
        display: none;
    }
}