.page-settings {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    @include devices(md) {
        max-width: 100%;
        min-width: 100%;
        padding-bottom: 90px;
    }

    .setting-card {
        flex: 1; 
        overflow:scroll; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}