:root {
    --color-sidebar-bg: #fff;
    --colow-sidebar-nav: #fff;
    --color-logo-name: #000;
    --color-username: #000;
    --color-border-rigth: rgb(204, 204, 204);
}

.dark {
    --color-sidebar-bg: #35395b;
    --colow-sidebar-nav: #35395b;
    --color-logo-name: #fff;
    --color-username: #d4d9ff;
    --color-border-right: #3f4463;
}